body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar {
    padding-top: 60px;
    height: 100%;
    width: 188px;
    background-color: #fff;
    margin-right: 1px;
    position: static;
    display: block;
}

.items, .insights {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.nav-item {
    border: 0px solid;
    background-color: #fff;
    border-radius: 5px;
    width: 145px;
    height: 35px;
    text-align: left;
    cursor: pointer;
    padding: 5px;
    color: darkgray;
}

.nav-item i{
    margin-right: 10px;
    padding-left: 10px;
    width: 25px;
}

.home {
    background-color: #fff;
    padding-left: 15px;
}

.active {
    background-color: #EEEBFE;
    color: #000;
}

.insights {
    margin-top: 40px;
}

.insights h5 {
    padding-left: 10px;
    color: #a9a9a9;
    margin-bottom: 25px;
}

.profile {
    position: relative;
    top: 35px;
}

.content {
    padding: 5px;
    width: 100%;
    padding-top: 0px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    width: 100%;
    height: 65px;
    padding-top: 5px;
}

.toggle-title {
    display: flex;
}

.navbar-ground {
    width: 28px;
    height: 28px;
    background-color: #EEEBFE;
    border-radius: 4px;
    text-align: center;
    padding: 1px;
    margin-right: 18px;
}

.navbar-toggle {
    color: #a9a9a9;
}

.title {
    font-weight: 800;
}

.search-slider {
    display: flex;
    align-items: center;    
}

.search {
    width: 750px;
    max-width: 750px;
    min-width: 100px;
    height: 40px;
    border: #938282 0px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    font-size: small;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    outline: none;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    color: #a9a9a9;
}

.search input {
    font-weight: 500;
}

.search i {
    color: #a9a9a9;
}

.search input {
    border: 0px transparent;
    width: 80%;
}

input:focus{
    outline: none;
}

.slider {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background-color: #000;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
}

.slider i {
    color: #fff;
}

.add {
    width: 60px;
    height: 100%;
    background-color: #F4F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.section-container {
    display: flex;
    justify-content: space-between;
}

.section-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
}

.section-2 {
    width: 350px;
    padding-top: 20px;
    padding-right: 18px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.view {
    width: 255px;
    display: flex;
    justify-content: space-between;
}

.view-icon {
    width: 120px;
    height: 35px;
    border: #a9a9a9 2px solid;
    border-radius: 10px;
    background-color: #EEEBFE;
    font-size: small;
    font-weight: 500;
    color: #a9a9a9;
}

.view-icon i {
    margin-right: 8px;
}

.status-filter, .show, .due-in {
    width: 85px;
    height: 30px;
    font-size: small;
    color: #a9a9a9;
    border: #a9a9a9 2px solid;
    border-radius: 8px;
    text-align: center;
}

.project-count {
    font-size: small;
    color: darkgray;
    padding: 10px 0;
}

.show {
    border: none;
    color: cornflowerblue;
}

.project-container {
    width: 100%;
}

.project-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    height: fit-content;
}

.project-container table thead.project-heading {
    border: 0px solid black;
    background-color: #FBFBFD;
    height: 40px;
    overflow: hidden;
    width: 100%;
    font-size: small;
    font-weight: 200;
    color: #6e6666;
}

.project-container table {
    width: 100%;
    border-spacing: 0; 
    border-collapse: separate;
    text-align: center;
}

.project-container table {
    width: 100%;
    /* border-spacing: 0; */
    border-collapse: separate;
}

.project-container table thead >* {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.project-container table thead tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-container table thead tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.project-container table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.project-container table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.project-title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.title-date {
    margin-left: 20px;
    text-align: left;
}

.title-date h4 {
    font-size: medium;
    font-weight: 500;
}

.title-date p {
    font-size: small;
    font-weight: 400;
    color: #a9a9a9;
}

.img-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

.due-in {
    border: transparent;
    background-color: aliceblue;
}

.task-ratio h3 {
    font-weight: 600;
}

.task-ratio p {
    font-size: small;
    color: #a9a9a9;
}

.task-ratio {
    text-align: left;
}

.progress {
    color: #acd1f3;
}

.project-row td {
    padding: 12px 15px;
}

.project-container table tbody tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.progress-bar-container {
    margin-top: 5px;
    width: 100%;
    height: 5px;
    background-color: #ddd;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #acd1f3;
    display: inline;
    transition: width 0.5s ease-in-out;
  }


.head-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-2 h3 {
    font-size: large;
    font-weight: 600;
}

.head-2 a {
    color: #93a6dd;
    font-size: 15px;
    font-weight: 500;
}

.meeting-card {
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: rgb(208, 243, 231);
    padding: 18px 8px;
    margin-top: 8px;
    padding-bottom: 6px;
}

.meeting-description h2 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 8px;
}

.meeting-description p {
    font-size: small;
    font-weight: 400;
    color: #6e6666;
}

.meeting-detail {
    margin-top: 10px;
    padding: 15px 10px;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.period {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.period p, .members p{
    color: #6e6666;
    font-size: small;
}

.period h4 {
    font-size: medium;
    font-weight: 600;
}

.members {
    margin: 20px 0;
    text-align: left;
}

.meeting-detail button {
    width: 200px;
    border: opx transparent solid;
    border-radius: 12px;
    background-color: #6366F1;
    font-size: medium;
    font-weight: 400;
    color: #fff;
    height: 50px;
}

.fa-magnifying-glass {
    cursor: pointer;
}